{% extends 'base.html'%}

{% block content %}  
    <main>   
        <div class ="narrow-form"
        <h1>Logged out</h1>
        <p>You are logged out</p>
        </div>
   </main>  
{% endblock content %}



