
{% extends 'base.html' %} 

{% block content %} 
<main>
    <div>
        <form method = "POST">
            {% csrf_token %}
           {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
    </div>
</main>
{% endblock content %}


