
{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <H1>Create Receipt</H1>
             <form method = "POST">
                {% csrf_token %}
                {{ form.as_p}}
            <button type="sumbit">Create</button>
             </form>   
        </div>
    </main>
{% endblock content %}
